<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.app.mapper.codedetail.CodeDetailMapper">

    <resultMap id="codeDetailMap" type="com.api.app.entity.codedetail.CodeDetailDto">
        <id property="groupCode" column="group_code"/>
        <id property="code" column="code"/>
        <result property="codeName" column="code_name"/>
        <result property="referenceValue1" column="reference_value_1"/>
        <result property="referenceValue2" column="reference_value_2"/>
        <result property="displaySequence" column="display_sequence"/>
        <result property="registId" column="regist_id"/>
        <result property="registDateTime" column="regist_date_time"/>
        <result property="modifyId" column="modify_id"/>
        <result property="modifyDateTime" column="modify_date_time"/>
    </resultMap>

    <insert id="insertCodeDetail" parameterType="com.api.app.entity.codedetail.CodeDetailDto">
        INSERT INTO code_detail (
            group_code,
            code,
            code_name,
            reference_value_1,
            reference_value_2,
            display_sequence,
            regist_id,
            regist_date_time,
            modify_id,
            modify_date_time
        ) VALUES (
            #{groupCode},
            #{code},
            #{codeName},
            #{referenceValue1},
            #{referenceValue2},
            #{displaySequence},
            #{registId},
            #{registDateTime},
            #{modifyId},
            #{modifyDateTime}
        )
    </insert>

    <select id="selectCodeDetailList" resultMap="codeDetailMap">
        SELECT
            group_code,
            code,
            code_name,
            reference_value_1,
            reference_value_2,
            display_sequence,
            regist_id,
            regist_date_time,
            modify_id,
            modify_date_time
        FROM
            code_detail
    </select>

    <select id="selectCodeDetail" resultMap="codeDetailMap">
        SELECT
            group_code,
            code,
            code_name,
            reference_value_1,
            reference_value_2,
            display_sequence,
            regist_id,
            regist_date_time,
            modify_id,
            modify_date_time
        FROM
            code_detail
        WHERE
            group_code = #{param1} AND code = #{param2}
    </select>

    <update id="updateCodeDetail" parameterType="com.api.app.entity.codedetail.CodeDetailDto">
        UPDATE code_detail
        SET
            code_name = #{codeName},
            reference_value_1 = #{referenceValue1},
            reference_value_2 = #{referenceValue2},
            display_sequence = #{displaySequence},
            modify_id = #{modifyId},
            modify_date_time = #{modifyDateTime}
        WHERE
            group_code = #{groupCode} AND code = #{code}
    </update>

    <delete id="deleteCodeDetail">
        DELETE FROM code_detail
        WHERE
            group_code = #{param1} AND code = #{param2}
    </delete>

</mapper>
