<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.app.repository.point.PointHistoryTrxMapper">

    <!-- 포인트 기록번호 시퀀스 생성 -->
    <select id="generatePointHistoryNo" resultType="string">
        SELECT /* PointHistoryTrxMapper.generatePointHistoryNo */
               LPAD(NEXTVAL('SEQ_POINT_HISTORY_NO')::TEXT, 15, '0') AS POINT_HISTORY_NO
    </select>

    <!-- 포인트 내역 등록 -->
    <insert id="insertPointHistory" parameterType="PointHistory">
        INSERT INTO POINT_HISTORY ( /* PointHistoryTrxMapper.insertPointHistory */
               POINT_HISTORY_NO
             , MEMBER_NO
             , AMOUNT
             , POINT_TRANSACTION_CODE
             , POINT_TRANSACTION_REASON_CODE
             , POINT_TRANSACTION_REASON_NO
             , START_DATE_TIME
             , END_DATE_TIME
             , UPPER_POINT_HISTORY_NO
             , REMAIN_POINT
             , REGIST_ID
             , REGIST_DATE_TIME
             , MODIFY_ID
             , MODIFY_DATE_TIME
        )
        VALUES (
               #{pointHistoryNo}
             , #{memberNo}
             , #{amount}
             , #{pointTransactionCode}
             , #{pointTransactionReasonCode}
             , #{pointTransactionReasonNo}
             , #{startDateTime}
             , #{endDateTime}
             , #{upperPointHistoryNo}
             , #{remainPoint}
             , #{registId}
             , #{registDateTime}
             , #{modifyId}
             , #{modifyDateTime}
        )
    </insert>

    <!-- 포인트 잔여 포인트 수정 -->
    <update id="updateRemainPoint" parameterType="PointHistory">
        UPDATE POINT_HISTORY /* PointHistoryTrxMapper.updateRemainPoint */
           SET REMAIN_POINT = #{remainPoint}
             , MODIFY_ID = #{modifyId}
             , MODIFY_DATE_TIME = #{modifyDateTime}
         WHERE POINT_HISTORY_NO = #{pointHistoryNo}
    </update>

</mapper>
