<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibe.pay.backend.member.MemberMapper">

    <resultMap id="memberResultMap" type="com.vibe.pay.backend.member.Member">
        <id property="memberId" column="member_id"/>
        <result property="name" column="name"/>
        <result property="shippingAddress" column="shipping_address"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="email" column="email"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="findAll" resultMap="memberResultMap">
        SELECT /* MemberMapper.findAll */
               MEMBER_ID
             , NAME
             , SHIPPING_ADDRESS
             , PHONE_NUMBER
             , EMAIL
             , CREATED_AT
          FROM MEMBER
    </select>

    <select id="findByMemberId" resultMap="memberResultMap">
        SELECT /* MemberMapper.findByMemberId */
               MEMBER_ID
             , NAME
             , SHIPPING_ADDRESS
             , PHONE_NUMBER
             , EMAIL
             , CREATED_AT
          FROM MEMBER
         WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="findByName" resultMap="memberResultMap">
        SELECT /* MemberMapper.findByName */
               MEMBER_ID
             , NAME
             , SHIPPING_ADDRESS
             , PHONE_NUMBER
             , EMAIL
             , CREATED_AT
          FROM MEMBER
         WHERE NAME = #{name}
    </select>

    <select id="findByEmail" resultMap="memberResultMap">
        SELECT /* MemberMapper.findByEmail */
               MEMBER_ID
             , NAME
             , SHIPPING_ADDRESS
             , PHONE_NUMBER
             , EMAIL
             , CREATED_AT
          FROM MEMBER
         WHERE EMAIL = #{email}
    </select>

    <select id="findByPhoneNumber" resultMap="memberResultMap">
        SELECT /* MemberMapper.findByPhoneNumber */
               MEMBER_ID
             , NAME
             , SHIPPING_ADDRESS
             , PHONE_NUMBER
             , EMAIL
             , CREATED_AT
          FROM MEMBER
         WHERE PHONE_NUMBER = #{phoneNumber}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO MEMBER ( /* MemberMapper.insert */
               NAME
             , SHIPPING_ADDRESS
             , PHONE_NUMBER
             , EMAIL
             , CREATED_AT
        )
        VALUES (
               #{name}
             , #{shippingAddress}
             , #{phoneNumber}
             , #{email}
             , #{createdAt}
        )
    </insert>

    <update id="update">
        UPDATE MEMBER /* MemberMapper.update */
           SET NAME = #{name}
             , SHIPPING_ADDRESS = #{shippingAddress}
             , PHONE_NUMBER = #{phoneNumber}
             , EMAIL = #{email}
         WHERE MEMBER_ID = #{memberId}
    </update>

    <delete id="delete">
        DELETE /* MemberMapper.delete */
          FROM MEMBER
         WHERE MEMBER_ID = #{memberId}
    </delete>

</mapper>