<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibe.pay.backend.order.OrderMapper">

    <resultMap id="orderResultMap" type="com.vibe.pay.backend.order.Order">
        <id property="orderId" column="order_id"/>
        <id property="ordSeq" column="ord_seq"/>
        <id property="ordProcSeq" column="ord_proc_seq"/>
        <result property="claimId" column="claim_id"/>
        <result property="memberId" column="member_id"/>
        <result property="orderDate" column="order_date"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="usedRewardPoints" column="used_reward_points"/>
        <result property="finalPaymentAmount" column="final_payment_amount"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="findAll" resultMap="orderResultMap">
        SELECT order_id, ord_seq, ord_proc_seq, claim_id, member_id, order_date, total_amount, used_reward_points, final_payment_amount, status FROM orders
    </select>

    <select id="findByOrderId" resultMap="orderResultMap">
        SELECT order_id, ord_seq, ord_proc_seq, claim_id, member_id, order_date, total_amount, used_reward_points, final_payment_amount, status FROM orders WHERE order_id = #{orderId}
    </select>

    <select id="findByOrderIdAndClaimId" resultMap="orderResultMap">
        SELECT order_id, ord_seq, ord_proc_seq, claim_id, member_id, order_date, total_amount, used_reward_points, final_payment_amount, status FROM orders WHERE order_id = #{orderId} AND claim_id = #{claimId}
    </select>

    <select id="findByMemberId" resultMap="orderResultMap">
        SELECT order_id, ord_seq, ord_proc_seq, claim_id, member_id, order_date, total_amount, used_reward_points, final_payment_amount, status FROM orders WHERE member_id = #{memberId}
    </select>

    <insert id="insert">
        INSERT INTO orders (order_id, ord_seq, ord_proc_seq, claim_id, member_id, order_date, total_amount, used_reward_points, final_payment_amount, status) VALUES (#{orderId}, #{ordSeq}, #{ordProcSeq}, #{claimId}, #{memberId}, #{orderDate}, #{totalAmount}, #{usedRewardPoints}, #{finalPaymentAmount}, #{status})
    </insert>

    <update id="update">
        UPDATE orders SET member_id = #{memberId}, order_date = #{orderDate}, total_amount = #{totalAmount}, used_reward_points = #{usedRewardPoints}, final_payment_amount = #{finalPaymentAmount}, status = #{status} WHERE order_id = #{orderId} AND ord_seq = #{ordSeq} AND ord_proc_seq = #{ordProcSeq}
    </update>

    <delete id="delete">
        DELETE FROM orders WHERE order_id = #{orderId} AND ord_seq = #{ordSeq} AND ord_proc_seq = #{ordProcSeq}
    </delete>

</mapper>