<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibe.pay.backend.order.OrderItemMapper">

    <resultMap id="orderItemResultMap" type="com.vibe.pay.backend.order.OrderItem">
        <id property="orderItemId" column="order_item_id"/>
        <result property="orderId" column="order_id"/>
        <result property="ordSeq" column="ord_seq"/>
        <result property="ordProcSeq" column="ord_proc_seq"/>
        <result property="productId" column="product_id"/>
        <result property="quantity" column="quantity"/>
        <result property="priceAtOrder" column="price_at_order"/>
    </resultMap>

    <select id="findAll" resultMap="orderItemResultMap">
        SELECT order_item_id, order_id, ord_seq, ord_proc_seq, product_id, quantity, price_at_order FROM order_item
    </select>

    <select id="findByOrderItemId" resultMap="orderItemResultMap">
        SELECT order_item_id, order_id, ord_seq, ord_proc_seq, product_id, quantity, price_at_order FROM order_item WHERE order_item_id = #{orderItemId}
    </select>

    <select id="findByOrderId" resultMap="orderItemResultMap">
        SELECT order_item_id, order_id, ord_seq, ord_proc_seq, product_id, quantity, price_at_order FROM order_item WHERE order_id = #{orderId}
    </select>

    <select id="findByOrderIdAndOrdSeqAndOrdProcSeq" resultMap="orderItemResultMap">
        SELECT order_item_id, order_id, ord_seq, ord_proc_seq, product_id, quantity, price_at_order FROM order_item WHERE order_id = #{orderId} AND ord_seq = #{ordSeq} AND ord_proc_seq = #{ordProcSeq}
    </select>

    <select id="findByOrderIdAndClaimId" resultMap="orderItemResultMap">
        SELECT order_item_id, order_id, ord_seq, ord_proc_seq, product_id, quantity, price_at_order FROM order_item WHERE order_id = #{orderId} AND claim_id = #{claimId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="orderItemId">
        INSERT INTO order_item (order_id, ord_seq, ord_proc_seq, product_id, quantity, price_at_order) VALUES (#{orderId}, #{ordSeq}, #{ordProcSeq}, #{productId}, #{quantity}, #{priceAtOrder})
    </insert>

    <update id="update">
        UPDATE order_item SET order_id = #{orderId}, ord_seq = #{ordSeq}, ord_proc_seq = #{ordProcSeq}, product_id = #{productId}, quantity = #{quantity}, price_at_order = #{priceAtOrder} WHERE order_item_id = #{orderItemId}
    </update>

    <delete id="delete">
        DELETE FROM order_item WHERE order_item_id = #{orderItemId}
    </delete>

</mapper>