<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibe.pay.backend.payment.PaymentMapper">

    <resultMap id="paymentResultMap" type="com.vibe.pay.backend.payment.Payment">
        <id property="paymentId" column="payment_id"/>
        <result property="memberId" column="member_id"/>
        <result property="orderId" column="order_id"/>
        <result property="claimId" column="claim_id"/>
        <result property="amount" column="amount"/>

        <result property="paymentMethod" column="payment_method"/>
        <result property="payType" column="pay_type"/>
        <result property="pgCompany" column="pg_company"/>
        <result property="status" column="status"/>
        <result property="orderStatus" column="order_status"/>
        <result property="transactionId" column="transaction_id"/>
        <result property="paymentDate" column="payment_date"/>
    </resultMap>

    <select id="findAll" resultMap="paymentResultMap">
        SELECT /* PaymentMapper.findAll */
               PAYMENT_ID
             , MEMBER_ID
             , ORDER_ID
             , CLAIM_ID
             , AMOUNT
             , PAYMENT_METHOD
             , PAY_TYPE
             , PG_COMPANY
             , STATUS
             , ORDER_STATUS
             , TRANSACTION_ID
             , PAYMENT_DATE
          FROM PAYMENT
    </select>

    <select id="findByPaymentId" resultMap="paymentResultMap">
        SELECT /* PaymentMapper.findByPaymentId */
               PAYMENT_ID
             , MEMBER_ID
             , ORDER_ID
             , CLAIM_ID
             , AMOUNT
             , PAYMENT_METHOD
             , PAY_TYPE
             , PG_COMPANY
             , STATUS
             , ORDER_STATUS
             , TRANSACTION_ID
             , PAYMENT_DATE
          FROM PAYMENT
         WHERE PAYMENT_ID = #{paymentId}
    </select>

    <select id="findByOrderId" resultMap="paymentResultMap">
        SELECT /* PaymentMapper.findByOrderId */
               PAYMENT_ID
             , MEMBER_ID
             , ORDER_ID
             , CLAIM_ID
             , AMOUNT
             , PAYMENT_METHOD
             , PAY_TYPE
             , PG_COMPANY
             , STATUS
             , ORDER_STATUS
             , TRANSACTION_ID
             , PAYMENT_DATE
          FROM PAYMENT
         WHERE ORDER_ID = #{orderId}
    </select>

    <insert id="insert">
        INSERT INTO PAYMENT ( /* PaymentMapper.insert */
               PAYMENT_ID
             , MEMBER_ID
             , ORDER_ID
             , CLAIM_ID
             , AMOUNT
             , PAYMENT_METHOD
             , PAY_TYPE
             , PG_COMPANY
             , STATUS
             , ORDER_STATUS
             , TRANSACTION_ID
             , PAYMENT_DATE
        )
        VALUES (
               #{paymentId}
             , #{memberId}
             , #{orderId}
             , #{claimId}
             , #{amount}
             , #{paymentMethod}
             , #{payType}
             , #{pgCompany}
             , #{status}
             , #{orderStatus}
             , #{transactionId}
             , #{paymentDate}
        )
    </insert>

    <update id="update">
        UPDATE PAYMENT /* PaymentMapper.update */
           SET MEMBER_ID = #{memberId}
             , ORDER_ID = #{orderId}
             , CLAIM_ID = #{claimId}
             , AMOUNT = #{amount}
             , PAYMENT_METHOD = #{paymentMethod}
             , PAY_TYPE = #{payType}
             , PG_COMPANY = #{pgCompany}
             , STATUS = #{status}
             , ORDER_STATUS = #{orderStatus}
             , TRANSACTION_ID = #{transactionId}
             , PAYMENT_DATE = #{paymentDate}
         WHERE PAYMENT_ID = #{paymentId}
           AND PAYMENT_METHOD = #{paymentMethod}
           AND ORDER_ID = #{orderId}
           AND PAY_TYPE = #{payType}
    </update>

    <delete id="delete">
        DELETE /* PaymentMapper.delete */
          FROM PAYMENT
         WHERE PAYMENT_ID = #{paymentId}
           AND PAYMENT_METHOD = #{paymentMethod}
           AND ORDER_ID = #{orderId}
           AND PAY_TYPE = #{payType}
    </delete>

</mapper>
