<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibe.pay.backend.payment.PaymentMapper">

    <resultMap id="paymentResultMap" type="com.vibe.pay.backend.payment.Payment">
        <id property="paymentId" column="payment_id"/>
        <result property="memberId" column="member_id"/>
        <result property="orderId" column="order_id"/>
        <result property="claimId" column="claim_id"/>
        <result property="amount" column="amount"/>

        <result property="paymentMethod" column="payment_method"/>
        <result property="payType" column="pay_type"/>
        <result property="pgCompany" column="pg_company"/>
        <result property="status" column="status"/>
        <result property="transactionId" column="transaction_id"/>
        <result property="paymentDate" column="payment_date"/>
    </resultMap>

    <select id="findAll" resultMap="paymentResultMap">
        SELECT payment_id, member_id, order_id, claim_id, amount, payment_method, pay_type, pg_company, status, transaction_id, payment_date FROM payment
    </select>

    <select id="findByPaymentId" resultMap="paymentResultMap">
        SELECT payment_id, member_id, order_id, claim_id, amount, payment_method, pay_type, pg_company, status, transaction_id, payment_date FROM payment WHERE payment_id = #{paymentId}
    </select>

    <select id="findByOrderId" resultMap="paymentResultMap">
        SELECT payment_id, member_id, order_id, claim_id, amount, payment_method, pay_type, pg_company, status, transaction_id, payment_date FROM payment WHERE order_id = #{orderId}
    </select>

    <insert id="insert">
        INSERT INTO payment (payment_id, member_id, order_id, claim_id, amount, payment_method, pay_type, pg_company, status, transaction_id, payment_date) VALUES (#{paymentId}, #{memberId}, #{orderId}, #{claimId}, #{amount}, #{paymentMethod}, #{payType}, #{pgCompany}, #{status}, #{transactionId}, #{paymentDate})
    </insert>

    <update id="update">
        UPDATE payment SET member_id = #{memberId}, order_id = #{orderId}, claim_id = #{claimId}, amount = #{amount}, payment_method = #{paymentMethod}, pay_type = #{payType}, pg_company = #{pgCompany}, status = #{status}, transaction_id = #{transactionId}, payment_date = #{paymentDate} WHERE payment_id = #{paymentId} AND payment_method = #{paymentMethod} AND order_id = #{orderId} AND pay_type = #{payType}
    </update>

    <delete id="delete">
        DELETE FROM payment WHERE payment_id = #{paymentId} AND payment_method = #{paymentMethod} AND order_id = #{orderId} AND pay_type = #{payType}
    </delete>

</mapper>