<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibe.pay.backend.product.ProductMapper">

    <resultMap id="productResultMap" type="com.vibe.pay.backend.product.Product">
        <id property="productId" column="product_id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="findAll" resultMap="productResultMap">
        SELECT /* ProductMapper.findAll */
               PRODUCT_ID
             , NAME
             , PRICE
          FROM PRODUCT
    </select>

    <select id="findByProductId" resultMap="productResultMap">
        SELECT /* ProductMapper.findByProductId */
               PRODUCT_ID
             , NAME
             , PRICE
          FROM PRODUCT
         WHERE PRODUCT_ID = #{productId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO PRODUCT ( /* ProductMapper.insert */
               NAME
             , PRICE
        )
        VALUES (
               #{name}
             , #{price}
        )
    </insert>

    <update id="update">
        UPDATE PRODUCT /* ProductMapper.update */
           SET NAME = #{name}
             , PRICE = #{price}
         WHERE PRODUCT_ID = #{productId}
    </update>

    <delete id="delete">
        DELETE /* ProductMapper.delete */
          FROM PRODUCT
         WHERE PRODUCT_ID = #{productId}
    </delete>

</mapper>