<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibe.pay.backend.rewardpoints.RewardPointsMapper">

    <resultMap id="rewardPointsResultMap" type="com.vibe.pay.backend.rewardpoints.RewardPoints">
        <id property="rewardPointsId" column="reward_points_id"/>
        <result property="memberId" column="member_id"/>
        <result property="points" column="points"/>
        <result property="lastUpdated" column="last_updated"/>
    </resultMap>

    <select id="findAll" resultMap="rewardPointsResultMap">
        SELECT /* RewardPointsMapper.findAll */
               REWARD_POINTS_ID
             , MEMBER_ID
             , POINTS
             , LAST_UPDATED
          FROM REWARD_POINTS
    </select>

    <select id="findByRewardPointsId" resultMap="rewardPointsResultMap">
        SELECT /* RewardPointsMapper.findByRewardPointsId */
               REWARD_POINTS_ID
             , MEMBER_ID
             , POINTS
             , LAST_UPDATED
          FROM REWARD_POINTS
         WHERE REWARD_POINTS_ID = #{rewardPointsId}
    </select>

    <select id="findByMemberId" resultMap="rewardPointsResultMap">
        SELECT /* RewardPointsMapper.findByMemberId */
               REWARD_POINTS_ID
             , MEMBER_ID
             , POINTS
             , LAST_UPDATED
          FROM REWARD_POINTS
         WHERE MEMBER_ID = #{memberId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="rewardPointsId">
        INSERT INTO REWARD_POINTS ( /* RewardPointsMapper.insert */
               MEMBER_ID
             , POINTS
             , LAST_UPDATED
        )
        VALUES (
               #{memberId}
             , #{points}
             , #{lastUpdated}
        )
    </insert>

    <update id="update">
        UPDATE REWARD_POINTS /* RewardPointsMapper.update */
           SET MEMBER_ID = #{memberId}
             , POINTS = #{points}
             , LAST_UPDATED = #{lastUpdated}
         WHERE REWARD_POINTS_ID = #{rewardPointsId}
    </update>

    <delete id="delete">
        DELETE /* RewardPointsMapper.delete */
          FROM REWARD_POINTS
         WHERE REWARD_POINTS_ID = #{rewardPointsId}
    </delete>

</mapper>