<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.app.repository.order.OrderBaseMapper">

    <!-- 주문 전체 조회 -->
    <select id="selectAllOrderBase" resultType="OrderBase">
        SELECT /* OrderBaseMapper.selectAllOrderBase */
               ORDER_NO
             , MEMBER_NO
          FROM ORDER_BASE
         ORDER BY ORDER_NO
    </select>

    <!-- 주문번호로 조회 -->
    <select id="selectOrderBaseByOrderNo" parameterType="string" resultType="OrderBase">
        SELECT /* OrderBaseMapper.selectOrderBaseByOrderNo */
               ORDER_NO
             , MEMBER_NO
          FROM ORDER_BASE
         WHERE ORDER_NO = #{orderNo}
    </select>

    <!-- 회원번호로 조회 -->
    <select id="selectOrderBaseByMemberNo" parameterType="string" resultType="OrderBase">
        SELECT /* OrderBaseMapper.selectOrderBaseByMemberNo */
               ORDER_NO
             , MEMBER_NO
          FROM ORDER_BASE
         WHERE MEMBER_NO = #{memberNo}
         ORDER BY ORDER_NO
    </select>

</mapper>
