<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.app.repository.order.OrderBaseMapper">

    <!-- 주문 전체 조회 -->
    <select id="selectAllOrderBase" resultType="OrderBase">
        SELECT /* OrderBaseMapper.selectAllOrderBase */
               ORDER_NO
             , MEMBER_NO
          FROM ORDER_BASE
         ORDER BY ORDER_NO
    </select>

    <!-- 주문번호로 조회 -->
    <select id="selectOrderBaseByOrderNo" parameterType="string" resultType="OrderBase">
        SELECT /* OrderBaseMapper.selectOrderBaseByOrderNo */
               ORDER_NO
             , MEMBER_NO
          FROM ORDER_BASE
         WHERE ORDER_NO = #{orderNo}
    </select>

    <!-- 회원번호로 조회 -->
    <select id="selectOrderBaseByMemberNo" parameterType="string" resultType="OrderBase">
        SELECT /* OrderBaseMapper.selectOrderBaseByMemberNo */
               ORDER_NO
             , MEMBER_NO
          FROM ORDER_BASE
         WHERE MEMBER_NO = #{memberNo}
         ORDER BY ORDER_NO
    </select>

    <!-- 주문 완료 정보 조회 -->
    <select id="selectOrderCompleteByOrderNo" resultType="com.api.app.dto.response.order.OrderCompleteResponse">
        SELECT /* OrderBaseMapper.selectOrderCompleteByOrderNo */
               OB.ORDER_NO AS orderNo
             , OB.MEMBER_NO AS memberNo
             , MIN(OD.ORDER_ACCEPT_DTM) AS orderAcceptDtm
             , SUM(OG.SALE_PRICE * OD.QUANTITY) AS totalAmount
          FROM ORDER_BASE OB
         INNER JOIN ORDER_DETAIL OD
            ON OB.ORDER_NO = OD.ORDER_NO
         INNER JOIN ORDER_GOODS OG
            ON OB.ORDER_NO = OG.ORDER_NO
           AND OD.GOODS_NO = OG.GOODS_NO
           AND OD.ITEM_NO = OG.ITEM_NO
         WHERE OB.ORDER_NO = #{orderNo}
           AND OB.MEMBER_NO = #{memberNo}
           AND OD.ORDER_TYPE_CODE = '001'
           AND OD.ORDER_PROCESS_SEQUENCE = 1
         GROUP BY OB.ORDER_NO, OB.MEMBER_NO
    </select>

</mapper>
